@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Regular.ttf);
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Bold.ttf);
    font-weight: 700;
    font-style: normal;
  }
  
body {
    margin: 0;
}

.header {
  background-image: url("../images/football_767.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #000000;
  position: relative;
  padding-bottom: 5.25rem;
  padding-top: 2rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  height: 100vh;
  width: calc(100%-1.25rem);
}
.header::after {
    content: "";
    background-color: #0a0e34;
    opacity: 0.9;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;  
  }
.header_logo {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 1;
    width: 8.3rem;
    margin-bottom: 8.5rem;
}
.logo_svg {
    fill: #ffffff;
}

.title {
    font-family: OpenSans, Arial, sans-serif;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    font-size: calc(9.6875vw - 3px);
    line-height: calc(9.6875vw - 3px);
    position: relative;
    z-index: 2;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    margin-bottom: 5.5rem;
    max-width: 1530px;
}

.second {
    align-self: flex-end;
    width: 70vw;
}

.box_for_buttons {
    position: relative;
    z-index: 3;
}
.link_button  {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 16rem;
    height: 2rem;
    cursor: pointer;
    text-align: center;
    background-color: #5e42b0;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    border-radius: 2rem;
}
.link_button:nth-child(1) {
    margin-bottom: 0.875rem;
}

.button_svg {
    fill: #ffffff;
    width: 20px;
    height: 23px;
    margin-right: 0.5rem;
    margin-left: 5rem;
}
.button_download {
    display: block;
    text-align: left;
    font-family: OpenSans, Arial, sans-serif;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 0.5rem;
}
.app_store, .google_play {
    font-weight: 700;
}

/* Главный блок */
.main {
    padding-top: 1.5rem;
}

.img_team_players {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.box_img_team_players {
 height: 225px;
}

.article_connection {
    background-color: #fafafa;
    padding-bottom: 3.375rem; 
    padding-top: 5rem; 
}

.box_article {                  /* внутренние отступы для всего контента */
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}
.box_header {
    margin-bottom: 1.75rem;
    display: flex;
}
.box_number {
    position: relative;
    margin-right: 0.625rem;
    padding-top: 2px;
    padding-bottom: 5px;
}

.number {
    font-family: OpenSans, Arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.875rem;
    color: #000000;
}
.number::after {
    content: "";
    position: absolute;
    width: 100%;
    right: 0;
    left: 0;
    bottom: 5px;
    border-top: 4px solid #5e42b0;
}

.header_athlets {
    font-family: OpenSans, Arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    font-size: 3.125rem;
    color: #e7e7e7;
    padding-left: 1.25rem;
    padding-right: 1.25rem;    
}

.header_article {
    font-family: OpenSans, Arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    font-size: 1.4rem;
    color: #c1c1c1;
}

.content_basic {
    font-family: OpenSans, Arial, sans-serif;
    font-weight: 400;
    font-size: 0.94rem;
    color: #000000;
}

p {
    margin:0;
}

.article_collaboration {
    background-color: #f5f4f9;
    padding-bottom: 3.375rem; 
    padding-top: 3.75rem; 
}

.article_growth {
    background-color: #5e42b0;
    padding-bottom: 3.375rem; 
    padding-top: 3.75rem; 
}

.content_growth {
    color: #f7f7fb;
}
.number_light_line::after {     /* переопределение подчеркивание у номера в сиреневом блоке */
    border-color:#ffffff;
}

.article_growth_dark {          /* переопределение цвета фона */
    background-color: #090c35; 
}

.number_for_the_dark {          /* переопределение цвета цифры 03 */
    color: #5e42b0;
}


/* отдельные артиклы с прямоугольными фреймами изображений */
.article_big {
    padding-bottom: 4.75rem; 
}

.box_picture_number {
    position: relative;
}

.picture {
    max-width: 100%;
}

.box_number_square {
    display: flex;
    position: absolute;
    width: 4.375rem;
    height: 4.375rem;
    background-color: #5e42b0;
    bottom: -0.5rem;
    left: 1rem;
}
.number_squared::after {            
    content: "";
    position: absolute;
    width: 100%;
    right: 0;
    left: 0;
    bottom: 0;
    border-top: 4px solid #ffffff;
    opacity: 0.3; 
}

.box_number_span {                 /* переопределение отступы: выравнивание по центру блока */
    margin: auto; 
} 

.bright_number {                  /* переопределение цвет цифры 03 */
    color: #f5f6f7;
}

.header_and_paragraf {
    padding-top: 2rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.header_article_of_individual {    /* переопределение цвета и размера заголовка статьи */
    font-size: 1.75rem;
    color: #e7e7e7;
}

 /* оформление подвала */ 
.footer {
    background-image: url("../images/game_767.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #000000;
    position: relative;
    padding-bottom: 0.625rem;
    padding-top: 6.25rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
   
    width: calc(100%-1.25rem);
}
.footer::after {
    content: "";
    background-color: #0a0e34;
    opacity: 0.9;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;  
  }

.link_surface {
    position: relative;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;;
    margin-bottom: 3.75rem;
    cursor: pointer;
    background-color: #5e42b0;
    border-radius: 1rem;
    width: 73px;
    height: 73px;
}
.svg_link_surface {
    fill: #ffffff;
    width: 58px;
  }

  .footer_title {
    position: relative;
    z-index: 2;
    text-align: center;
    text-transform: uppercase;
    max-width: 1530px;
    margin-top: 0;
    margin-bottom: 4.75rem;
   
  }
  .h2_line_first {
    font-family: OpenSans, Arial, sans-serif;
    font-weight: 700;
    color: #ffffff;
    font-size: 2rem;
    display: block;
  }

  .h2_line_second {
    font-family: OpenSans, Arial, sans-serif;
    font-weight: 400;
    color: #9084b5;
    font-size: 0.85rem;
    display: block;
  }

  .box_links {
      margin-bottom: 5rem;
  }

  .footer_logo {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 1;
    width: 8.3rem;
}
 